@model TechShop.Models.TChiTietSanPham
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Create</h1>

<h4>TChiTietSanPham</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaChiTietSanPham" class="control-label"></label>
                <input asp-for="MaChiTietSanPham" class="form-control" />
                <span asp-validation-for="MaChiTietSanPham" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaSanPham" class="control-label"></label>
                <select asp-for="MaSanPham" class ="form-control" asp-items="ViewBag.MaSanPham"></select>
            </div>
            <div class="form-group">
                <label asp-for="KichThuoc" class="control-label"></label>
                <input asp-for="KichThuoc" class="form-control" />
                <span asp-validation-for="KichThuoc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MauSac" class="control-label"></label>
                <input asp-for="MauSac" class="form-control" />
                <span asp-validation-for="MauSac" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnhDaiDien" class="control-label"></label>
                <input asp-for="AnhDaiDien" class="form-control" />
                <span asp-validation-for="AnhDaiDien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonGiaBan" class="control-label"></label>
                <input asp-for="DonGiaBan" class="form-control" />
                <span asp-validation-for="DonGiaBan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GiamGia" class="control-label"></label>
                <input asp-for="GiamGia" class="form-control" />
                <span asp-validation-for="GiamGia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoLuongTonKho" class="control-label"></label>
                <input asp-for="SoLuongTonKho" class="form-control" />
                <span asp-validation-for="SoLuongTonKho" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="tChiTietSanPham" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>


